@import url("../../common/adaptive");

.block-nominations {
  color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: calcrem(20);

    .mobile-screen({
      gap: calcrem(40);
    });
  }

  &__title {
    margin-bottom: calcrem(90);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
    });
  }

  &__text {
    width:  calcrem(429);
    margin-bottom: calcrem(90);
    font-family: var(--font-light);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */

    .mobile-screen({
      font-size: var(--font-size-m);
    });
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: calcrem(40);
  }

  &__icon {
    width: calc(25% - calcrem(40));

    &:hover {
      fill-opacity: 1;
    }

    .tablet-screen({
      width: calc(50% - calcrem(20));
    });

    .mobile-screen({
      width: 100%;
    })

  }
}
