<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contest</title>
</head>
<body>
    <%= require('html-loader!./html-parts/header.html').default %>
    <div class="page">
        <%= require('html-loader!./html-parts/block-main_contest.html').default %>
        <%= require('html-loader!./html-parts/block-links.html').default %>
        <%= require('html-loader!./html-parts/block-stages.html').default %>
        <%= require('html-loader!./html-parts/block-icons.html').default %>
        <%= require('html-loader!./html-parts/block-faq_contest.html').default %>
        <%= require('html-loader!./html-parts/block-nominations.html').default %>
        <%= require('html-loader!./html-parts/block-ages.html').default %>
        <%= require('html-loader!./html-parts/block-carousel-medium_contest_1.html').default %>
        <%= require('html-loader!./html-parts/block-carousel-medium_contest_2.html').default %>
        <%= require('html-loader!./html-parts/block-video.html').default %>
        <%= require('html-loader!./html-parts/block-footer.html').default %>
        <%= require('html-loader!./html-parts/block-info.html').default %>
    </div>
</body>
</html>
