<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aguteens</title>
    </head>
    <body>
        <%= require('html-loader!./html-parts/header.html').default %>
        <div class="page">
            <%= require('html-loader!./html-parts/block-main_track.html').default %>
            <%= require('html-loader!./html-parts/block-links.html').default %>
            <%= require('html-loader!./html-parts/block-offer.html').default %>
            <%= require('html-loader!./html-parts/block-welcome.html').default %>
            <%= require('html-loader!./html-parts/block-faq-with-image.html').default %>
            <%= require('html-loader!./html-parts/block-carousel-big.html').default %>
            <%= require('html-loader!./html-parts/block-carousel-medium_main.html').default %>
            <%= require('html-loader!./html-parts/block-tickets.html').default %>
            <%= require('html-loader!./html-parts/block-review.html').default %>
            <%= require('html-loader!./html-parts/block-partners.html').default %>
            <%= require('html-loader!./html-parts/block-faq_track.html').default %>
            <%= require('html-loader!./html-parts/block-video.html').default %>
            <%= require('html-loader!./html-parts/block-footer.html').default %>
            <%= require('html-loader!./html-parts/block-info.html').default %>
        </div>
    </body>
</html>
