@import url("../../common/adaptive");

.bg-video {
  position: absolute;
  z-index: 1;
  top: -55vh;
  display: flex;
  width: 100%;
  height: 150vh;
  aspect-ratio: 1 / 1;

  .tablet-screen({
    top: 0;
    width: 110%;
    left: -5%;
    height: auto;
    aspect-ratio: 16 / 9;
  });

  .mobile-screen({
    top: 0;
    width: 100%;
    left: 0;
    height: auto;
    aspect-ratio: 16 / 9;
  });
}
