@import url("../../common/adaptive");

.bg-video {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  aspect-ratio: 16 / 9;

  .tablet-screen({
    top: 0;
    width: 110%;
    left: -5%;
    height: auto;
    aspect-ratio: 16 / 9;
  });

  .mobile-screen({
    top: 0;
    width: 100%;
    left: 0;
    height: auto;
    aspect-ratio: 16 / 9;
  });
}
