@import url("../../common/adaptive");

.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  min-height: calcrem(300);
  background: #0000;
  pointer-events: none;
  transition: all 0.2s ease-in-out;

  &_scrolled {
    min-height: calcrem(75);
    backdrop-filter: blur(5px);
    background: rgb(219 25 51 / 80%);
    transition: all 0.4s ease-in-out;
  }

  &__content_centered {
    display: flex;
    min-width: calcrem(300);
    max-width: calcrem(1024);
    justify-content: space-between;
    padding: 0 calcrem(100);
    margin: 0 auto;

    .mobile-screen({
      padding: 0 calcrem(20);
    })
  }

  &__links {
    display: flex;
    height: calcrem(70);
    align-items: center;
    gap: calcrem(20);
    pointer-events: auto;
  }

  &__links-item-content {
    display: none;
  }

  &__links-item:focus-within &__links-item-content {
    display: block;
  }

  &__link {
    display: block;
    width: calcrem(30);
    height: calcrem(38);

    &_menu {
      background: url("../../icons/burger.svg") no-repeat;
      background-size: contain;
    }

    &_cart {
      background: url("../../icons/cart.svg") no-repeat;
      background-size: contain;
    }

    &_lk {
      background: url("../../icons/lk.svg") no-repeat;
      background-size: contain;
    }
  }
}
