@import url("../../common/adaptive");

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  fill-opacity: 0;
  text-decoration: none;
  transition: fill-opacity linear 0.2s;

  &:hover {
    fill-opacity: 1;
  }

  &__image {
    margin-bottom: calcrem(30);
  }

  &__text {
    color: #fff;
    font-family: var(--font-light);
    font-size: var( --font-size-xxl);
    line-height: 90%;
    text-align: center;

    .mobile-screen({
      font-size: var( --font-size-l);
    });
  }
}
