@import url("../../common/adaptive");

@menu-width: 250;

@keyframes appear-decktop {
  0% {
    right: calcrem(-50);
    overflow: hidden;
    width: 0;
  }

  99% {
    right: calcrem(0);
    overflow: hidden;
    width: calcrem(@menu-width);
  }

  100% {
    overflow: visible;
    width: calcrem(@menu-width);
  }
}

@keyframes appear-mobile {
  0% {
    left: calcrem(-50);
    overflow: hidden;
    width: 0;
  }

  99% {
    right: calcrem(0);
    overflow: hidden;
    width: calcrem(@menu-width);
  }

  100% {
    overflow: visible;
    width: calcrem(@menu-width);
  }
}

.header-nav {
  display: none;
  font-family: var(--font-main);
  font-size: calcrem(24);
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;

  &_visible {
    display: block;
  }

  a {
    color: #fff;
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    width: calcrem(@menu-width);
    box-sizing: border-box;
    padding: calcrem(36) calcrem(26);
    margin: 0;
    animation: appear-decktop 0.2s linear;
    backdrop-filter: blur(20px);
    background-color: #DB1933CC;
    list-style-type: none;

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -7px;
      display: block;
      width: 7px;
      height: 100%;
      background: linear-gradient(to right, #0000, #1111112b);
      content: ' ';
    }

    &::after {
      position: absolute;
      top:0;
      left: 0;
      display: block;
      width: calcrem(@menu-width);
      height: 100%;
      background-color: rgb(255 255 255 / 10%);
      content: ' ';
      mask-image: url("../../icons/arcs.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 180%, calcrem(@menu-width);
      pointer-events: none;
      .mobile-screen({
        width: 100%;
      });
    }

    .mobile-screen({
      position: fixed;
      right: auto;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      min-height: 100dvh;
      box-shadow: -4px 4px 20px 0 #0000001A;
      animation: appear-mobile 0.2s linear;
    });
  }


  &__item, &__sub-item, &__inner-item {
    width: calcrem(@menu-width - 100px);
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__item-link {
    text-decoration: none;

    &:active, &:focus, &:hover {
      border-bottom: 1px solid #fff;
    }
  }

   &__sub-link, &__inner-link {
    text-decoration: none;

    &:active, &:focus, &:hover {
      border-bottom: 1px solid #474747;
    }
  }

  &__link-text, &__sub-text, &__inner-text {
    display: inline-block;
  }

  &__sub-list {
    position: absolute;
    top: 0;
    right: calcrem(@menu-width);
    display: none;
    width: calcrem(@menu-width);
    box-sizing: border-box;
    padding: calcrem(36) calcrem(26);
    animation: appear-decktop 0.2s ease-in-out;
    backdrop-filter: blur(20px);
    background: #FFFC;
    color: #474747;
    list-style-type: none;

    a {
      color: #474747;
    }

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -7px;
      display: block;
      width: 7px;
      height: 100%;
      background: linear-gradient(to right, #0000, #1111112b);
      content: ' ';
    }

    .mobile-screen({
      position: fixed;
      right: auto;
      left: 0;
      box-shadow: -4px 4px 20px 0 #0000001A;
      animation: appear-mobile 0.2s linear;
    });
  }

  &__inner-list {
    position: absolute;
    top: 0;
    right: calcrem(@menu-width);
    display: none;
    width: calcrem(@menu-width);
    box-sizing: border-box;
    padding: calcrem(36) calcrem(26);
    animation: appear-decktop 0.2s ease-in-out;
    backdrop-filter: blur(20px);
    background: #FFFC;
    color: #474747;
    list-style-type: none;

    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -7px;
      display: block;
      width: 7px;
      height: 100%;
      background: linear-gradient(to right, #0000, #1111112b);
      content: ' ';
    }

    .mobile-screen({
      position: fixed;
      right: auto;
      left: 0;
      animation: appear-mobile 0.2s linear;
    });
  }

  &__hotline {
    z-index: -1;
    margin-top: calcrem(96);

    .mobile-screen({
      position: absolute;
      bottom: calcrem(42);
    });
  }

  &__hotline-text {
    margin-bottom: calcrem(10);
    color: #fff;
    font-family: var(--font-ultra-light);
    font-size: calcrem(18);
    text-transform: none;
    white-space: nowrap;
  }

  &__hotline-phone {
    font-family: var(--font-oswald);
    text-decoration: none;
    white-space: nowrap;
  }

  &__close {
    position: absolute;
    z-index: 30;
    top: calcrem(18);
    right: calcrem(20);
    width: calcrem(30);
    height: calcrem(35);
    border: 0;
    appearance: none;
    background-color: #0000;
    background-image: url("../../icons/x.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &_visible {
    display: block;
  }
}

.nav-body-no-mobile-overflow {
  .mobile-screen({
    overflow: hidden;
  })
}

.nav-header-no-animation {
  animation: none;
}
