@import url("../../common/adaptive");

.block-faq {
  &__title {
    margin-bottom: calcrem(50);
    color: var(--font-color-dark);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
      margin-bottom: calcrem(40);
    });
  }

  &__info-list {
    padding: 0 0 0 calcrem(30);
    margin: 0 0 calcrem(30);
    font-size: var(--font-size-xxl);
    list-style-type: disc;

    .mobile-screen({
      font-size: var(--font-size-l);
    });
  }
}
